.rightalign {
    float: right
}

.tabletext {
    font-size: 1.5em;
}

.icon {
    height: 1.25em;
}

.footer {
    font-size: xx-small;
    font-style: italic;
}

.orders {
    font-size: 0.75em;
}

.graphic {
    width: 90%;
}