{% extends "base.html" %}
{% block title %}
    {{ context.title }}
{% endblock %}

{% block page_content %}
    {% block content %}
        <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3>
                            <a href="/">
                                <img class="icon" src="{{ url_for('static', filename='icons/svg/041-home.svg') }}" alt="Apply Filter" title="Title to show on hover.">
                            </a>
                            ABB Recorders:{{ context.total }}
                        </h3>
                    </div>
                    <div class="col-md-2 refresh_count" id="countdown">&nbsp;</div>
                </div>
                <div class="jumbotron tabletext" >

                    <table class="table table-striped">
                        <thead>
                        <tr scope="row">
                            <th scope="col-4">Plant/Site</th>
                            <th scope="col-2">Orders</th>
                            <th scope="col-2">Flow</th>
                            <th scope="col-1">&nbsp;</th>
                            <th scope="col-1" onclick="favorites.toggle()">
                                <img title="Apply Favorite's Filter"
                                     class="fav-icon fav-dim" id="favorite-toggle"
                                     src="{{ url_for('static', filename = 'icons/svg/045-checklist.svg') }}"
                                />
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for row in context.data %}
                            <tr scope="row" class="datarow" id="{{ row['id'] }}">
                                <td scope="col-4">
                                    <a href="{{ row['url'] }}">{{ row['dispname'] }}</a>
                                        {% for tag in row['tags'] %}
                                                <img class="icon-pipe-{{ tag['state'] }}"
                                                     title="{{ tag['tag'].upper() }}: {{ tag['value'] }}cfs"
                                                     src="{{ url_for('static', filename = 'icons/flaticon/237-circle-1.svg') }}"
                                                />
                                        {% endfor %}
                                </td>
                                <td scope="col-2">
                                    <a href="{{ row['url'] }}">{{ row['orders'] }}</a>
                                </td>
                                <td scope="col-2">
                                    <a href="{{ row['url'] }}">{{ row['flowfmt'] }}</a>
                                </td>
                                <td scope="col-1">
                                    <span id="{{ loop.index }}B" class="dyn-icon">{{ row['orders_vs_flow'] }}</span>
                                </td>
                                <td scope="col-1">
                                    <img class="fav-icon favorite fav-dim"
                                         id="{{ row['id'] }}X"
                                         onclick="favorites.fav_click('{{ row['id'] }}X')"
                                         src="{{ url_for('static', filename = 'icons/svg/027-favourite.svg') }}"
                                    />
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <hr>
                <div><i>Data Format:<br>Lateral, followed by ordered CFS, followed by ABB Flow in CFS.</i></div>
            </div>
            <hr>
            {% include 'footer.html' %}
        </div>


        <script type="text/javascript" src="{{ url_for('static', filename='js/includes.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/favorites.js') }}"></script>
        <script type="text/javascript">

            let good_path = "{{ url_for('static', filename = 'icons/svg/049-checkbox.svg') }}";
            let bad_path = "{{ url_for('static', filename = 'icons/svg/060-warning.svg') }}";


            function icon(id, value) {
                if (value == '') {
                    icon_remove(id)
                } else if (value == 'good') {
                    icon_set(id, good_path)
                } else {
                    icon_set(id, bad_path)
                }
            }

            function icon_remove(id) {
                document.getElementById(id).innerHTML = ''
            }

            function icon_set(id, path) {
                let html = '<img class="icon" src="' + path + '">';
                document.getElementById(id).innerHTML = html
            }

            function startup() {
                let items = document.getElementsByClassName('dyn-icon')
                for (let i in items) {
                    let id = items[i].id
                    if (id != null) {
                        let txt = items[i].innerText.trim()

                        switch (txt) {
                            case 'good':
                                icon_set(id, good_path);
                                break;
                            case 'error':
                                icon_set(id, bad_path);
                                break;
                            default:
                                icon_remove(id);
                                break;
                        }
                    }
                }
            }

            document.onload = startup();

            let favorites = new Favorites();
            favorites.load_favorites();

        </script>

    {% endblock %}

{% endblock %}
